

body {
    background-color: #f8ecec;
}
header{
    background: #F6F4F9;
    height: 500px;
}

.menu {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

#nory {
    width: 35%;
    height: 330px;
    border-radius: 60%;
    
}
h1 {
    position: relative;
    right: -600px;
    top: 170px;

}

nav {
    position: absolute;
    top: 120px;
    right: -300px;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}

.presentacion {
    position: relative;
    top: -180px;
    right: -100px;
    font-style: italic;
    height: 500px;
   
    
}

.nombre{

    position: relative;
    top: -10px;
    right: -10px;
    font-size: 50px;
    font-family: "Yeseva One", serif;
     font-weight: 600;
  
    
}
.parrafo{
    font-size: 20px;
    
}

.titulo1 {
    font-size: 30px;
    font-weight: bold;
    

}

.sobre_mi{


margin: 5%;
font-size: 25px;




}


p {
    width: 80%;
    font-family: sans-serif;
    
    
}

.titulo2{
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    margin: 4%;
    text-align: center;

    /*lenguaje de programacion */


}
.lenguaje{
    width: 940x;
    margin: 0 auto;
    font-weight: bold;
}

.lenguaje li{
    display: inline-block;
    text-align: center;
    width: 12%;
    vertical-align: top;
    margin: 0 1.5%;
    padding:30px 20px;
    box-sizing: border-box;
    background: #fcfafa;
  


}
.nombre_lenguje{
    font-size: 20px;
    font-weight: bold;
    
}
/* hobbies*/

.hobbies li {
    display: inline-block;
    text-align: center;
    width: 12%;
    vertical-align: top;
    margin: 0 1.5%;
    padding:30px 20px;
    box-sizing: border-box;
    background: #fcfafa;

}

.hobbies{
    font-size: 20px;
    font-weight: bold;

}

.titulo3 {

    width: 80%;
    font-size: 30px;
    font-weight: bold;
    margin: 6%;
    text-align: center;

}

/*estudios*/

.titulo4 {
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    margin: 6%;
    text-align: center;

}

.Formacaion li{
    display: inline-block;
    text-align: center;
    width: 17%;
    vertical-align: top;
    margin: 0 1.5%;
    padding:30px 20px;
    box-sizing: border-box;
    background: #fcfafa;

}

.title {
    font-size: 20px;
    font-weight: bold;

}

.Formacaion p{
    font-size: 15px;
    margin-top: 10px;
}

/*experiencia labora*/


.titulo5 {
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    margin: 6%;
    text-align: center;
}

.Profesion  {
    display: flex;
    margin: 2%;
   
}
.imagen {
    width: 800px;
    margin-right: 150px;
}

.boton{
   
    display: inline-flex;
    height: 60px;
    margin-top: 70px;
    font-size: 25px;
  
    
   
    
}

.boton p{
    margin: 2%;
   
}
.buton1{
   background-color: #5c67e9;
   color: #f8f5f5;
   display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
   border-radius: 10px;
   padding: 15px 30px ;
   text-decoration: none;
   
   
}

.contacto {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: left
    
    
    

   
}
.titulo6{
    width: 40%;
    font-size: 50px;
    font-weight: bold;
    margin: 3%;
    text-align: right;
   
    

}



form div{
display: inline-block;
    text-align: center;
    width: 17%;
    vertical-align: top;
    margin: 0 1.5%;
    padding:30px 20px;
    box-sizing: border-box;
    background: #fcfafa;
}

.foto{
    display: flex;
    margin: 10%;
}


input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid #edfff0;
    background-color: #edfff0;
    color: #000000;
    outline: none;

}
.btn{
    font-size: 16px;
    border: 0;
    background-color: #5c67e9;
    box-shadow: 0 0 20px rgb(25, 254, 0, 0.4);
    cursor: pointer;
}
.btn:hover{
    background-color: aqua;
}

footer h3{
    font-size: 30px;
    align-content: center;
    margin: 100px;
    
}


    

